NODE_ENV = production
PORT = 3000

DB_HOST = localhost
DB_PORT = 3306
DB_NAME = watcharc
DB_USER = watcharc
DB_PASSWORD = watcharc

NEXT_PUBLIC_IMAGES_HOST = https://img.watcharc.org
NEXT_PUBLIC_DEFAULT_MODEL_COVER = /models/default.svg

TELEGRAM_TOKEN = 1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZ01234abcd
TELEGRAM_CHAT_ID = -1001234567890

S3_ACCESS_KEY = abcdefghijklmnopqrstuvwxyz0123456789
S3_SECRET_KEY = abcdefghijklmnopqrstuvwxyz0123456789
S3_ENDPOINT = https://s3.cloud.ru
S3_REGION = us-east-1
S3_BUCKET = watcharc
IMGPROXY_KEY = abcdefghijklmnopqrstuvwxyz0123456789
IMGPROXY_SALT = abcdefghijklmnopqrstuvwxyz0123456789
